.blocks {

  & .blocks__row .block {
    margin: grid(5) 0 0;

    @media (--small) {
      margin: 0;
    }
  }

  & .blocks__row {
    @media (--small) {
      display: flex;
      flex-wrap: wrap;
      margin: grid(5) 0 0;

      &.has-no-margin-top {
        margin-top: 0;
      }
    }
  }

  & .blocks__row .block:first-child {
    @media (--small) {
      margin-right: grid(5);
    }
  }


}
