.block {
  display: block;
  font-size: .9rem;

  @media (--small) {
    flex: 1;
  }


  /**
   * {kind} Filler
   */
  &.block--filler {
    background: color($accent a(.0325));
    display: none;
    height: 25vw;
    min-height: 88px;
    position: relative;

    @media (--small) {
      display: block;
      height: auto;
    }

    &.has-content {
      background: color($accent a(.0675));
      display: block;
    }

    &.has-content.has-fixed-height {
      @media (--small) {
        padding-top: 14%;
      }
    }
  }

  & .block--filler__inner {
    left: 50%;
    opacity: .425;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);

    & .icon {
      height: 4em;
      width: @height;
    }

    & .icon + span {
      @mixin heading-font;
      display: block;
    }
  }


  /**
   * Title
   */
  & .block__title {
    font-size: 1.15rem;
    margin: 0 0 grid(2);
  }


  /**
   * Text
   */
  & .block__text {
    margin: grid(1.5) 0 0;
    max-width: 350px;
    padding-right: grid(4);
    text-align: justify;
  }

  & .block__text--subtle {
    font-size: .725rem;

    & a {
      color: inherit;
    }
  }

  & .block__text:last-child p:last-child {
    margin-bottom: 0;
  }


  /**
   * List
   */
  & .block__list {
    left: rem(-28px);
    position: relative;

    & li::before {
      content: none;
    }
  }

  & .block__list:last-child ul:last-child,
  & .block__list:last-child ol:last-child {
    margin-bottom: 0;
  }


}
