.intro {
  font-size: grid(2.25);
  font-style: italic;
  line-height: 1.9;

  & a {
    border-bottom: 2px solid $base05;
    color: inherit;
    display: inline-block;
    line-height: 1.15;
  }

}
