.intro {
  @mixin display-font;
  color: $base01;
  font-size: grid(2.25);
  line-height: 1.9;
  margin-bottom: grid(6);
  padding: grid(1) 0 0;

  & a {
    border-bottom: 2px solid $base06;
    color: inherit;
    display: inline-block;
    line-height: 1.15;
  }

}
