.intro {
  @mixin display-font;
  color: $base01;
  font-size: 2.25gr;
  line-height: 1.9;
  margin-bottom: 6gr;
  padding: 1gr 0 0;

  & a {
    border-bottom: 2px solid color($accent a(.175));
    color: inherit;
    display: inline-block;
    line-height: 1.15;
  }

}
