html {
  font-size: 13px;

  @media (--xsmall) {
    font-size: 14px;
  }

  @media (--small) {
    font-size: 15px;
  }

  @media (--medium) {
    font-size: 16px;
  }
}

body {
  @mixin default-font;

  color: $text-color;
  font-size: .95rem;
  line-height: 1.95;
  margin-bottom: grid(6);
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @mixin heading-font;
  line-height: 1.25;
}

h1 {
  font-size: 2em;
  margin: 0 0 grid(2);
}

h2 {
  font-size: 1.5em;
  margin: grid(3.5) 0 grid(2.5);
}

h3 {
  font-size: 1.170em;
  margin: grid(2.5) 0 grid(1.5);
}

p, pre, ul, ol {
  margin: 0 0 grid(2);
}

p + ul,
p + ol {
  margin-top: grid(-1.25);
}

a {
  color: $link-color;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;

  @media (--xsmall) {
    max-width: 77.5%;
  }

  & li {
    line-height: 1.7;
    margin-bottom: .7em;
    padding-left: rem(28px);
    position: relative;
  }

  & li:before {
    color: color($text-color a(.375));
    content: '•';
    font-size: 0.9em;
    left: 0;
    line-height: 0.9;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
